spring:
  application:
    name: nacos-payment-provider
  ## nacos注册中心配置
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.1.100:8848

server:
  port: 9001

management:
  endpoints:
    web:
      exposure:
        include: "*"